# Игнорируем файлы с секретными переменными
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Python / Virtual Environments
VirtualEnviroments/
venv/
env/
.env

# Build & packaging artifacts
build/
dist/
*.egg-info/
*.tar.gz

# Logs & OS files
*.log
.DS_Store
VirtualEnviroments/
build/
*.egg-info/
Python_course/Project_2/TO_DO/custom_env*/
Python_course/Project_2/MyEnv/
Python_course/venv
*/.env
Python_course/Project_2/.env
Python_course/Project_2/TO_DO/.env
Python_course/Project_2/TO_DO/VirtualEnviroments/venv312
Python_course/Project_2/TO_DO/VirtualEnviroments/venv312_2
Python_course/Project_2/TO_DO/VirtualEnviroments/venv314
Python_course/Project_2/venv312_2

# Игнорировать все файлы баз данных SQLite
*.db
*.sqlite
*.sqlite3
Python_course/Project_2/PlannerProject/budget_database/main_db.db
**/db_data/


*.zip
*.sock
.DS_Store
commands.txt
.vscode/
.vscode/*.json
**/.megaignore
__pycache__/
Python_course/Project_2/Project_2.code-workspace
Python_course/Project_2/.vscode/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
terraform/Azure/sa_info.json
terraform/Azure/sa_info_pretty.json
terraform/Azure/ter_show_info.json
terraform/Azure/ter_show_info.txt