# Игнорируем файлы с секретными переменными
.env
*/.env
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Build & packaging artifacts
build/
dist/
*.egg-info/
*.tar.gz

# Python / Virtual Environments
__pycache__/
VirtualEnviroments/
venv/
env/
*.egg-info/
Python_course/venv
Python_course/Project_2/TO_DO/custom_env*/
Python_course/Project_2/MyEnv/
Python_course/Project_2/.env
Python_course/Project_2/TO_DO/.env
Python_course/Project_2/TO_DO/VirtualEnviroments/venv312
Python_course/Project_2/TO_DO/VirtualEnviroments/venv312_2
Python_course/Project_2/TO_DO/VirtualEnviroments/venv314
Python_course/Project_2/venv312_2

# Игнорировать все файлы баз данных SQLite
*.db
*.sqlite
*.sqlite3
Python_course/Project_2/PlannerProject/budget_database/main_db.db
**/db_data/

# Logs & OS files
*.log
*.zip
*.sock
.DS_Store
.vscode/
.vscode/*.json
**/.megaignore
commands.txt
Python_course/Project_2/Project_2.code-workspace
Python_course/Project_2/.vscode/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
terraform/Azure/sa_info.json
terraform/Azure/sa_info_pretty.json
terraform/Azure/ter_show_info.json
terraform/Azure/ter_show_info.txt
